<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="caminhoArquivo" value="C:\Projetos\C#\FragmentacaoPacotes\FragmentacaoPacotes\arquivos\tmd_pmesp-6.2.2.0.apk"/>
    <add key="caminhoDiretorio" value="C:\Projetos\C#\FragmentacaoPacotes\FragmentacaoPacotes\arquivosNovos\"/>
    <add key="caminhoNovoArquivo" value="C:\Projetos\C#\FragmentacaoPacotes\FragmentacaoPacotes\arquivosNovos\tmd_pmesp-6.2.2.0.apk"/>
  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="servicebehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="restbehavior">
          <webHttp/>
        </behavior>        
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name ="FragmentacaoPacotesWcf.SVC_DownloadArquivo"
behaviorConfiguration ="servicebehavior" >
        <endpoint name ="SOAPEndPoint"
        contract ="FragmentacaoPacotesWcf.ISVC_DownloadArquivo"
        binding ="basicHttpBinding"
        address ="soap" />

        <endpoint name ="RESTEndPoint"
        contract ="FragmentacaoPacotesWcf.ISVC_DownloadArquivoREST"
        binding ="webHttpBinding"
        address ="rest"
        behaviorConfiguration ="restbehavior"/>

        <endpoint contract="IMetadataExchange"
        binding="mexHttpBinding"
        address="mex" />
      </service>
      
    </services>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
