<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <add key="caminhoArquivo" value="C:\Projetos\C#\FragmentacaoPacotes\FragmentacaoPacotes\arquivos\tmd_pmesp-6.2.2.0.apk"/>
    <add key="caminhoDiretorio" value="C:\Projetos\C#\FragmentacaoPacotes\FragmentacaoPacotes\arquivosNovos\"/>
    <add key="caminhoNovoArquivo" value="C:\Projetos\C#\FragmentacaoPacotes\FragmentacaoPacotes\arquivosNovos\tmd_pmesp-6.2.2.0.apk"/>

  </appSettings>
</configuration>